<!--View Information-->
<!--View name : Menu Dashboard-->
<!--Controller name : homeDashboardCtrl-->
<!--Controller path : www/templates/themes/home-dashboard/js/controllers.js-->
<!--State name : app.homeDashboard-->
<!--URL : #app/homeDashboard-->

<ion-view cache-view="false" title="Dashboard" hide-tabs>
    <!--menu dashboard section-->
    <ion-content id="menu-dashboard-content">
        <!--panel section-->

        <md-toolbar class="md-tall md-primary toolbar-medium">
            <div>
                <h1>Bienvenue sur MySpotyHome</h1>

                <h2>{{currentUser.links.immeuble.name}}</h2>
            </div>
            
        </md-toolbar>
        <div class="menu-panel">



            <div class="row">
                <div class="col-33" ng-click="listAnnonces()">
                    <i class="fa fa-bullhorn"></i>

                    <p>Annonces</p>
                </div>
                <div class="col-33" ng-click="listIncidents()">
                    <i class="fa fa-exclamation-triangle"></i>

                    <p>Incidents</p>
                </div>
                <div class="col-33" ui-sref="app.chat.contacts">
                    <i class="fa fa-users"></i>

                    <p>Mes contacts</p>
                </div>


            </div>
            <div class="row">
                <div class="col-33" ui-sref="app.chat.messages">
                    <i class="fa fa-inbox"></i>

                    <p>Messagerie</p>
                </div>
                <div class="col-33" ng-click="showCurrentUserProfile()">
                    <i class="fa fa-phone"></i>

                    <p>Numéros utiles</p>
                </div>
                <div class="col-33" ui-sref="app.mobileContractList">
                    <i class="fa fa-cog"></i>

                    <p>Réglages</p>
                </div>
            </div>
        </div><!--end panel section-->

        <!--panel footer section -->
        <div class="menu-dashboard-footer">
            <!--
<md-whiteframe class="md-whiteframe-z1" layout ng-click="showToast('Wordpress Blog')">
<div class="row">
<div class="col-10">
<i class="fa fa-phone"></i>
</div>
<div class="col-80">
Contacter mon syndic
</div>
<div class="col-10">
<i class="fa fa-angle-right"></i>
</div>
</div>
</md-whiteframe>

<md-whiteframe class="md-whiteframe-z1" layout ng-click="addNewIncidentStepOne()">
<div class="row">
<div class="col-10">
<i class="fa fa-exclamation-triangle"></i>
</div>
<div class="col-80">
Déclarer un nouvel incident
</div>
<div class="col-10">
<i class="fa fa-angle-right"></i>
</div>
</div>
</md-whiteframe>

<md-whiteframe class="md-whiteframe-z1" layout ng-click="addNewIncidentStepOne()">
<div class="row">
<div class="col-10">
<i class="fa fa-plus-square"></i>
</div>
<div class="col-80">
Poster une annonce
</div>
<div class="col-10">
<i class="fa fa-angle-right"></i>
</div>
</div>
</md-whiteframe>
-->
            <md-whiteframe ng-if="!loggedInUser" class="md-whiteframe-z1" layout ng-click="logout()">
                <div class="row">
                    <div class="col-10">
                        <i class="fa fa-sign-out"></i>
                    </div>
                    <div class="col-80">
                        Se connecter
                    </div>
                    <div class="col-10">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </md-whiteframe>

            <md-whiteframe ng-if="loggedInUser" class="md-whiteframe-z1" layout ng-click="logout()">
                <div class="row">
                    <div class="col-10">
                        <i class="fa fa-sign-out"></i>
                    </div>
                    <div class="col-80">
                        Deconnexion ({{loggedInUser.email}})
                    </div>
                    <div class="col-10">
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </md-whiteframe>

        </div><!--end panel footer section-->
    </ion-content><!--Menu dashboard section-->
</ion-view>