<ion-view cache-view="false" title=""  hide-tabs>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--try app section -->
    <ion-slide-box show-pager="false" id="try-app-content" active-slide="0">
        <!--slider section -->


        <ion-slide class="slide-XX" ng-init="hasSelectedType=false" >
            <ion-content id="menu-dashboard-content">
                <!--panel section-->

                <div class="menu-panel">

                    <md-toolbar class="md-tall md-primary toolbar-medium">
                        <div >
                            <h1>Etape 1</h1>

                            <h2>Quelle commodités est concernée ?</h2>
                        </div>

                    </md-toolbar>
                </div><!--end panel section-->

                <!--panel footer section-->

                <div class="menu-dashboard-footer"  >
                    <md-whiteframe class="md-whiteframe-z1" layout ng-click="form.type =type ;nextSlide() " ng-repeat="type in incidentTypes">
                        <div class="row">
                            <div class="col-10">
                                <i class="fa  {{type.icon}}"></i>
                            </div>
                            <div class="col-80">
                                {{type.name}}
                            </div>
                            <div class="col-10">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </md-whiteframe>
                </div>
            </ion-content>
        </ion-slide>
        <ion-slide class="slide-XX">
            <ion-content id="menu-dashboard-content" ng-controller="incidentsDashboardCtrl">
                <!--panel section-->

                <div class="menu-panel">

                    <md-toolbar class="md-tall md-primary toolbar-medium">
                        <div>
                            <h1>Etape 2</h1>

                            <h2>Votre incident existe - il ?</h2>
                        </div>

                    </md-toolbar>
                </div><!--end panel section-->

                <!--panel footer section-->
                <div class="menu-dashboard-footer">

                    <div class="menu-dashboard-footer"   >

                        <md-whiteframe class="md-whiteframe-z1" layout  >
                            <div class="row">
                                <div class="col-10">
                                    <i class="fa  {{form.type.icon}}"></i>
                                </div>
                                <div class="col-80">
                                    Vous avez choisi :  {{form.type.name}}
                                </div>
                                <div class="col-10">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>


                        </md-whiteframe>
                        <!-- ng-show = "filteredIncidents.length == 0"
<md-whiteframe class="md-whiteframe-z1" layout ng-init="existingIncidents = (filteredIncidents | filter:{status:'open'} | filter:{type:{name:form.type.name}})" >
<div class="row">
{{ filteredIncidents.length}}    {{ existingIncidents.length}}

Aucun incident similaire détécté.
</div>
</md-whiteframe> -->
                        <md-content  id="news-feed-content" class="no-padding">

                            <div  ng-click="navigateTo('app.viewIncident',item,k)" ng-if="item.status!=='solved' && item.type.name === form.type.name" ng-repeat="(k,item) in  existingIncidents = (filteredIncidents | filter:{status:'open'} | filter:{type:{name:form.type.name}})" class="news-item" ng-include="template.url">
                            </div>

                            <div  ng-click="navigateTo('app.viewIncident',item,k)" ng-if="item.status!=='solved' && item.type.name === 'Autres'" ng-repeat="(k,item) in  existingIncidents = (filteredIncidents | filter:{status:'open'} | filter:{type:{name:'autres'}})" class="news-item" ng-include="template.url">
                            </div>


                            <div  ng-click="navigateTo('app.viewIncident',item,k)" ng-init="existingIncidents = (filteredIncidents | filter:{status:'open'} | filter:{type:{name:'autres'}})" class="news-item" > Bouya {{existingIncidents.length}}
                            </div>

                            <div  ng-click="navigateTo('app.viewIncident',item,k)" ng-init="existingIncidents = (filteredIncidents | filter:{status:'open'} | filter:{type:{name:form.type.name}})" class="news-item" > Bouya Z{{existingIncidents.length}}
                            </div>
                        </md-content>
                        <!--
<md-whiteframe class="md-whiteframe-z1" layout  ng-show = "existingIncidents.length">
<div class="row">
<md-checkbox ng-model="incidentIsUnlistedConfirmation">Je confirme que mon incident n'est pas référencé ci-dessus. </md-checkbox>
</div>
</md-whiteframe>
-->
                        <!--
<div class="row">
<div class="col-50">
<a ng-click="previousSlide()" class="left md-raised md-button md-default-theme ">Précédent</a>
</div>
<div class="col-50">
<a disabled ng-click="nextSlide()" ng-show="existingIncidents.length > 0 && !incidentIsUnlistedConfirmation" class="right md-raised md-button md-default-theme">Suivant</a>
<a ng-click="nextSlide()" ng-hide="existingIncidents.length > 0 &&  !incidentIsUnlistedConfirmation"  class="right md-raised md-button md-default-theme">Suivant</a>
</div>
</div>

-->

                        <md-whiteframe class="md-whiteframe-z1" layout  ng-click="nextSlide()" ng-show = "existingIncidents.length">
                            <div class="row">

                                <div class="col-90">
                                    Je confirme que cet incident n’est pas déjà référencé
                                </div>
                                <div class="col-10">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>

                        </md-whiteframe>                        
                        <md-whiteframe class="md-whiteframe-z1" layout  ng-click="nextSlide()" ng-hide = "existingIncidents.length">
                            <div class="row">

                                <div class="col-90">
                                    Continuer
                                </div>
                                <div class="col-10">
                                    <i class="fa fa-angle-right"></i>
                                </div>
                            </div>
                        </md-whiteframe>

                    </div>
                </div>
                <!-- <div class="row try-app-footer-content">
<div class="col-50">
<a ng-click="nextSlide()" class="left md-raised md-button md-default-theme ">Annuler</a>
</div>
<div class="col-50">
<a ng-click="nextSlide()"  class="right md-raised md-button md-default-theme">Suivant</a>
</div>
</div>
-->
            </ion-content>
        </ion-slide>
        <ion-slide class="slide-XX">
            <ion-content id="menu-dashboard-content">
                <!--panel section-->

                <div class="menu-panel">

                    <md-toolbar class="md-tall md-primary toolbar-medium">
                        <div>
                            <h1>Etape 3</h1>

                            <h2>Quelle zone est concernée ?</h2>
                        </div>

                    </md-toolbar>
                </div><!--end panel section-->

                <!--panel footer section-->
                <div class="menu-dashboard-footer">
                    <md-whiteframe class="md-whiteframe-z1" layout ng-click="form.zone =type;nextSlide() " ng-repeat="type in incidentPlaces">
                        <div class="row">
                            <div class="col-10">
                                <i class="fa  {{type.icon}}"></i>
                            </div>
                            <div class="col-80">
                                {{type.name}}
                            </div>
                            <div class="col-10">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </md-whiteframe>
                    <div class="row">
                        <div class="col-50">
                            <a ng-click="previousSlide()" class="left md-raised md-button md-default-theme ">Précédent</a>
                        </div>
                        <div class="col-50">

                            <a disabled ng-if="!form.zone"   class="right md-raised md-button md-default-theme">Suivant</a>
                            <a ng-if="form.zone"   ng-click="nextSlide()"  class="right md-raised md-button md-default-theme">
                                Suivant</a>

                        </div>
                    </div>
                </div>

            </ion-content>
        </ion-slide>
        <ion-slide class="slide-XX">
            <ion-content id="menu-dashboard-content">
                <!--panel section-->

                <div class="menu-panel">

                    <md-toolbar class="md-tall md-primary toolbar-medium">
                        <div>
                            <h1>Etape 3</h1>

                            <h2>Description</h2>
                        </div>

                    </md-toolbar>
                </div><!--end panel section-->

                <!--panel footer section-->
                <div class="menu-dashboard-footer">
                    <!--
<md-input-container class="md-block" >
<label>Titre</label>
<input ng-model="form.titre">
</md-input-container>
-->
                    <md-whiteframe class="md-whiteframe-z1"  layout>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="form.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </md-whiteframe>

                </div>
                <div class="row try-app-footer-content">
                    <div class="col-50">
                        <a ng-click="previousSlide()" class="left md-raised md-button md-default-theme ">Précédent</a>
                    </div>
                    <div class="col-50">
                        <a disabled ng-if="form.description===''" ng-click="nextSlide()"  class="right md-raised md-button md-default-theme">Suivant</a>
                        <a ng-if="form.description!==''"  ng-click="nextSlide()" class="right md-raised md-button md-default-theme">
                            Suivant</a>

                    </div>
                </div>
            </ion-content>
        </ion-slide>
        <!--
<ion-slide class="slide-03"></ion-slide>
<ion-slide class="slide-04"></ion-slide>
<ion-slide class="slide-05"></ion-slide>
<ion-slide class="slide-06"></ion-slide>
<ion-slide class="slide-07"></ion-slide>
ng-controller="addIncidentStepTwoCtrl"
-->
        <ion-slide class="slide-XX"   >
            <ion-content id="menu-dashboard-content" >
                <!--panel section-->

                <div class="menu-panel">


                    <md-toolbar class="md-tall md-primary toolbar-medium">
                        <div>
                            <h1>Option</h1>

                            <h2>Ajouter une photo</h2>
                        </div>

                    </md-toolbar>
                </div>
                
               <div class=" ">
                        <div class="bg-full-h relative row row-center no-padding pin" style="background-image:url({{inputPicture.content}});height:170px">
                            <div ng-if="!inputPicture.content" class="width-100 text-center">Ajouter une image</div>
                            <!--<button class="button button-icon send-camera icon-planes-top positive" ng-click="sendPicture()"></button>-->

                        </div>

                   </div>

                <div ng-hide="inputPicture.content" class="row try-app-footer-content">

                    <div class="col-50">
                        <a ng-click="takePicture()" class="left md-raised md-button md-default-theme ">Prendre une photo</a>
                    </div>
                    <div class="col-50">
                        <a ng-click="showInputImages()"  class="right md-raised md-button md-default-theme">Galerie</a>
                    </div>
                </div>

                <div ng-show="inputPicture.content" class="row try-app-footer-content">
                    <div class="col-50">
                        <a ng-click="form.picture = inputPicture.content  ; nextSlide()" class="left md-raised md-button md-default-theme ">Confirmer</a>
                    </div>
                    <div class="col-50">
                        <a ng-click="inputPicture.content = null"  class="right md-raised md-button md-default-theme button button-icon cancel-picture ion-android-close positive">Annuler</a>
                    </div>
                  
                </div>

                
                <!--end panel section-->

                <!--panel footer section-->
<!--
                <div class="pin " ng-click="showConfirmDialog($event)">

                    <div class="cropArea" ng-hide="hasSavePic" ng-class="{strike: deleted, bold: important, 'hidden': hasSavePic}">
                        <img-crop result-image-size="1280" image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                    <div class=""  ng-show="hasSavePic" ng-class="{strike: deleted, bold: important, 'hidden': !hasSavePic}"> <img ng-class="{strike: deleted, bold: important, 'hidden': !hasSavePic}" ng-src="{{picThumb}}"> </div>

                    <img ng-hide="hasSavePic" ng-src="{{'img/shirt_01.png'}}"/>
                    <!- -
<h1>Plain Shirt</h1>

<p>
A shirt with plain design.
</p>
- ->


                    <div class="pin-footer">
                        <div class="item item-button pic-holder">
                            <button ng-if="canAddPic" onclick="angular.element(this).scope().performClick('theFile');" class="button"><i class="icon ion-camera"></i></button>
                            <button ng-if="canEditPic" ng-click="resetPic()" class="button"><i class="icon ion-edit"></i></button>
                            <button ng-if="canSavePic" ng-click="resizePic(myCroppedImage)" class="button"><i class="icon ion-checkmark-round"></i> Valider ma photo</button>
                            <input type="file" onchange="angular.element(this).scope().performFileInputChange(this);" id="theFile" style="display:none" /> </div>
                    </div>
                </div><!--end pin section- ->
                <div class="menu-dashboard-footer" >

                    <md-whiteframe ng-show="hasSavePic" class="md-whiteframe-z1" layout ng-click="nextSlide() " >
                        <div class="row">
                            <div class="col-10">
                            </div>
                            <div class="col-80">
                                Etape Suivante
                            </div>
                            <div class="col-10">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </md-whiteframe>
                </div>
-->
            </ion-content>
        </ion-slide>
        <ion-slide class="slide-XX">

            <ion-content id="menu-dashboard-content">
                <!--panel section-->

                <div class="menu-panel">

                    <md-toolbar class="md-tall md-primary toolbar-medium">
                        <div>
                            <h1>Etape 4</h1>

                            <h2>Confirmation</h2>
                        </div>

                    </md-toolbar>
                </div><!--end panel section-->

                <!--panel footer section-->
                <div class="menu-dashboard-footer">
                    <md-whiteframe class="md-whiteframe-z1" layout ng-click="goToSlide(2) " >
                        <div class="row">
                            <div class="col-10">
                                <i class="fa  {{form.type.icon}}"></i>
                            </div>
                            <div class="col-80">
                                {{form.type.name}}
                            </div>
                            <div class="col-10">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-z1" layout ng-click="goToSlide(3) " >
                        <div class="row">
                            <div class="col-10">
                                <i class="fa  {{form.zone.icon}}"></i>
                            </div>
                            <div class="col-80">
                                {{form.zone.name}}
                            </div>
                            <div class="col-10">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-z1"  layout>
                        <div class="row">
                            <div class="col-100">
                                <!--<p>{{form.titre}}</p>-->
                                <p>{{form.description}}</p>
                            </div>
                        </div>
                    </md-whiteframe>
                    <md-whiteframe class="md-whiteframe-z1"  layout>

                        <md-input-container class="md-block"  md-no-float>
                            <md-select disabled ng-model="form.immeuble" style="    margin-left: 0px;
                                                                                padding: 0px;">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="(k,option) in formSelectList.immeubles" ng-value="k" ng-disabled="$index === 1">
                                    {{option.name}} 
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container  class="md-block">
                            <md-select disabled ng-model="form.batiment" style="    margin-left: 0px;
                                                                                padding: 0px;">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="(k,option)  in formSelectList.batiments" ng-value="k" ng-disabled="$index === 1">
                                    {{option.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </md-whiteframe>
                </div>
                <div class="row try-app-footer-content">
                    <div class="col-50">
                        <a ng-click="previousSlide()" class="left md-raised md-button md-default-theme ">Précédent</a>
                    </div>
                    <div class="col-50">
                        <a ng-if="form.description && form.type && form.zone" ng-click="saveIncident(form,$event)" class="sign-up-button md-raised md-button md-default-theme material-background">
                            PUBLIER</a>
                    </div>
                </div>


            </ion-content>
        </ion-slide>
        <!--end slider section-->
    </ion-slide-box><!--end try app section-->

</ion-view>