<!--View Information-->
<!--View name : Facebook Profile-->
<!--Controller name : facebookProfileCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookProfile-->
<!--URL : #app/facebookProfile-->

<ion-view cache-view="false"  hide-tabs title="Liste des incidents">
    <!--left button on navigation bar-->
    <!-- <ion-nav-buttons side="left">
<a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
<i class="ion-android-arrow-back"></i>
</a>
</ion-nav-buttons>-->

    <!--end left button on navigation bar
<md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
<div>
<h1>SQLite Database</h1>

<h2>Application Storage</h2>
</div>
<a class="md-button md-accent md-fab fab-toolbar-medium"
ng-click="navigateTo('app.contractdetail',contract)"
aria-label="Add">
<i class="icon ion-plus"></i>
</a>
</md-toolbar><!--end toolbar section-->
    <ion-nav>

    </ion-nav>
    <!--toolbar section-
<a class="md-button md-accent md-fab fab-toolbar-medium" ng-click="navigateTo('app.contractdetail',contract)" aria-label="Add" tabindex="0">
<i class="icon ion-plus"></i>
</a>-->
    <ion-content id="social-feed-content" hide-tabs >
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh($event)">
        </ion-refresher>

        <md-toolbar class="md-tall md-primary toolbar-medium">
            <div>
                <h1>Liste des incidents</h1>

                <h2>{{currentUser.links.immeuble.name}}</h2>
            </div>
            <a class="md-button md-accent md-fab fab-toolbar-medium"
               ng-click="navigateTo('app.addIncident',contract)"
               aria-label="Add" style=    'position: absolute;
                                           bottom: -12px;'>
                <i class="icon ion-plus"></i>
            </a>
        </md-toolbar>
        <md-tabs class="ng-hide" ng-show="!loading" md-dynamic-height md-border-bottom>

            <md-tab label="En cours">
                <!--social profile content section
<md-autocomplete

ng-disabled="isDisabled"
md-no-cache="noCache"
md-selected-item="selectedItem"
md-search-text-change="searchTextChange(searchText)"
md-search-text="searchText"
md-selected-item-change="selectedItemChange(item)"
md-items="item in querySearch(searchText)"
md-item-text="item.display"
md-min-length="0"
placeholder="Filter par type">
<md-item-template>
<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
</md-item-template>
<md-not-found>
"{{searchText}}" introuvable.

</md-not-found>
</md-autocomplete>
<br/>
-->
                <md-content  ng-if="list" id="news-feed-content" class="md-padding">

                    <div  ng-click="navigateTo('app.viewIncident',item,k)" ng-if="item.status!=='solved'" ng-repeat="(k,item) in list" class="news-item" ng-include="template.url">
                        <div ></div>

                    </div>
                    <!--
<div class="news-item">

ui-sref="app.viewIncident({id:k,item:item})" 

<!- -header section- ->
<div class="row header">
<div class="col-20">
<img src="img/profileAvatar.jpg" class="user-img"/>
</div>
<div class="col-80">
<span class="name">
John Smith
</span>
<br/>
<span class="datetime">
1 hours ago
</span>
</div>
</div><!- -end header section- ->

<!- -detail section- ->
<div class="row detail">
<div class="col">
<h1>
Material is the metaphor
</h1>

<p class="content">
A material metaphor is the unifying theory of a rationalized space and a system of motion. The
material is grounded in tactile reality, inspired by the study of paper and ink, yet
technologically advanced and open to imagination and magic.
</p>

<p class="content">
http://google.com/design/spec/material-design/
</p>

<p class="tags">
<i class="fa fa-tags"></i> Material Design, Ionic
</p>
</div>
</div>

<!- -footer section- ->
<div class="row footer">
<div class="col-33">
<span class="number">10.9k</span> <span class="wording">Likes</span>
</div>
<div class="col-33">
<span class="number">20k</span> <span class="wording">Comments</span>
</div>
<div class="col-33">
<span class="number">1k</span> <span class="wording">Shared</span>
</div>
</div><!- -end footer section- ->

</div>
-->

                </md-content><!--end social profile content section-->

            </md-tab>
            <md-tab label="Terminés">
                <!--social profile content section-->
                <md-content  ng-if="list" id="news-feed-content" class="md-padding">

                    <div   ng-click="navigateTo('app.viewIncident',item,k)" ng-if="item.status==='solved'" ng-repeat="item in list" class="news-item" ng-include="template.url">
                        <div ></div>

                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Mes incidents">
                <!--social profile content section-->
                <md-content  ng-if="userIncidentsList" id="news-feed-content" class="md-padding">

                    <div ui-sref="app.incidentUpdate({id:k})"  ng-repeat="(k,item) in userIncidentsList" class="news-item" ng-include="template.url">
                        <div ></div>

                    </div>
                </md-content>
            </md-tab>
            <!--
<md-tab label="Mes evenements">
<md-content class="md-padding">
<!--list section- ->
<md-list>
<md-subheader class="facebook-color">More Facebook APIs.</md-subheader>
<md-list-item class="md-list-item-default"
ng-click="navigateTo('app.facebookFeed')">
<i class="ion-android-list"></i>

<p>View Timeline Feed</p>
</md-list-item>
<md-list-item class="md-list-item-default"
ng-click="navigateTo('app.facebookFriendList')">
<i class="ion-person-stalker"></i>

<p>Friends List</p>
</md-list-item>
<md-list-item class="md-list-item-default" ng-click="logOut($event)">
<i class="ion-locked"></i>

<p>Log Out</p>
</md-list-item>
</md-list><!--end list section- ->
</md-content>
</md-tab>-->
        </md-tabs>
        <!--social loading progress section-->
        <md-progress-circular ng-show="loading" class="md-warn md-progress-social-profile ng-hide"
                              md-mode="indeterminate"></md-progress-circular><!--end social loading progress section-->

    </ion-content>


</ion-view>
