<!--View Information-->
<!--View name : Wordpress Post-->
<!--Controller name : wordpressPostCtrl-->
<!--Controller path : www/templates/social-network-connect/wordpress/js/controllers.js-->
<!--State name : app.wordpressPost-->
<!--URL : #app/wordpressPost-->

<ion-view  cache-view="false" view-title="Post Detail" hide-tabs>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
    <!--wordpress post content section-->
    <ion-content id="wordpress-post-content" class="fade-in">


<div>
                <a  ng-show = "canEditEvent" class="md-raised social-button md-button md-default-theme material-background" ui-sref="app.incidentUpdate({id:item.key})">
                Modifier
            </a></div>
        <md-card-content>
            <div class="pin" ng-show="item.picture" >

                <img data-ng-src="{{item.picture}}" >

            </div>
            <!--<p class="feed-name">{{item.titre}}</p>-->

            <!--wordpress content section-->
            <div class="wp-content" data-ng-bind-html="item.description"></div><!--end wordpress content section-->
            <md-list-item class="md-2-line md-no-proxy" role="listitem">
                <img ng-src="{{post.author.avatar}}" class="md-avatar">

                <div class="md-list-item-text">
                    <h3>{{item.links.author.formatedName}}</h3>

                    <p>{{item.date | date:"short" }}</p>
                </div>
            </md-list-item>

        </md-card-content>
        <!--card footer section-->
        <div class="social-card-wp-footer row" ng-show="item.status != null ?  true : false">
            <div class="col">
                <i class="fa  fa-bullhorn"></i>
                <span >
                    {{item.status}}
                </span>
            </div>
        </div>
        <!--card footer section-->
        <div class="social-card-wp-footer row" ng-show="item.zone.name != null ?  true : false">
            <div class="col">
                <i class="fa  {{item.zone.icon}}"></i>
                <span >
                    {{item.zone.name}}
                </span>
            </div>
        </div>

        <div class="social-card-wp-footer row" ng-show="item.type.name != null ?  true : false">
            <div class="col">
                <i class="fa  {{item.type.icon}}"></i>
                <span >
                    {{item.type.name}}
                </span>
            </div>
        </div>
        <!--end card footer section-->

        <!--list comment section-->
        <md-list class="comment">
            <md-subheader>Commentaires</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="comment in incidentCommentairesList">
                <img ng-src="{{comment.author.avatar}}" class="md-avatar"/>

                <div class="md-list-item-text">
                    <h3>{{comment.links.author.formatedName}}</h3>
                    <p>{{comment.timestamp | date:"dd/MM HH:mm" }}</p>

                    <p data-ng-bind-html="comment.content"></p>
                </div>
                <md-divider></md-divider>
            </md-list-item>


        <div>
        <md-subheader>Ajouter un commentaire</md-subheader>

        <md-whiteframe class="md-whiteframe-z1"  layout>
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="form.content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
        </md-whiteframe>
            
                <a  class="md-raised social-button md-button md-default-theme material-background" ng-click="addComment(form)">
                Publier
            </a>


</div>        </md-list><!--end list comment section-->

    </ion-content><!--end wordpress post content section-->

    <!--loading progress-->
    <div id="incident-post-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" class="md-warn md-progress-social-profile"
                              md-mode="indeterminate"></md-progress-circular>
    </div><!--end loading progress-->

</ion-view>