<!--header

<div class="col-20">
<img src="img/profileAvatar.jpg" class="user-img"/>
</div>
section
<div class="row header">

<div class="col-80">
<span class="name">
{{item.user}}


</span>
<br/>

</div>
</div><!--end header section-->

<!--footer section-->
<div class="row footer">
    <div class="col-33">
        <span class="tags"><i class="fa {{item.type.icon}}"></i> </span> <span class="wording"> {{item.type.name}}</span>
    </div>
    <div class="col-33">
        <span class="tags"> <i class="fa {{item.zone.icon}}"></i> </span> <span class="wording">{{item.zone.name}}</span>
    </div>
    <div class="col-33">
        <span class="tags">  <i class="fa fa-calendar"></i> </span> <span class="datetime"> {{item.timestamp | date:'dd/MM (HH:mm)'}}
        </span>
    </div>
</div><!--end footer section-->
<!--detail section-->
<div class="row detail">

    <div class="col">
        <span class="name">
            <!--<h1>
{{item.titre}}
</h1>-->

            <p class="content">
                {{item.description}}
            </p>
        </span>
        <p class="content">

        </p>

        <p class="tags">

        </p>

        <p class="tags">

        </p>
    </div>
</div>

<!--footer section-->


<div class="row detail footer" class="    text-align: left;">
    <!--footer section


    <div class="col" ng-repeat="comment in item.last_comment_details">


        <p data-ng-bind-html="comment.content"></p>
        <p>Par {{comment.links.author.formatedName}} - {{comment.timestamp | date:"dd/MM HH:mm" }}</p>
    </div>
-->
    <div class="col" ng-hide="item.last_comment_details">


        Aucun commentaires.
    </div>
    <div class="col" ng-show="item.last_comment_details" ng-repeat="comment in item.last_comment_details">

        <p class="tags">
            Dernier commentaire : {{comment.content}}
        </p>
    </div>
</div><!--end footer section-->
