<link href="css/contacts.css" rel="stylesheet">
<ion-view hide-tabs="true" cache-view="false" class="invite-friend">
<ion-header-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
  </div>
  <h1 class="title"><div>{{Friend.name.$value}}</div><span>+{{Friend.phone.$value}}</span></h1>
</ion-header-bar>
<ion-content class="stable-bg" scroll="false">
	<div class="invite-footer">
		<div class="padding border-vertical"><textarea class="padding">{{Me.$value}} {{inviteText}}</textarea></div>
		<button class="button button-block" ng-click="acceptInvite()">Send</button>
	</div>
</ion-content>
</ion-view>