<link href="css/contacts.css" rel="stylesheet">
<ion-view title="Contacts Nearby" hide-tabs="true">
<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon ion-android-arrow-back" ui-sref="app.chat.addContacts"></button>
  </div>
  <h1 class="title">Contacts Nearby</h1>
  <div class="buttons">
    <button class="button button-icon icon-map-location" ui-sref="app.chat.nearbyLocation"></button>
  </div>
</ion-header-bar>
 <ion-content class="contacts-nearby-main">
	<div class="list no-margin">
	<div class="item item-icon-right"><span class="stable">Filter by: </span>
		<span>{{settings.gender}} - {{settings.visible}}, {{settings.fromage}} - {{settings.toage}} age</span><i class="icon ion-ios-gear-outline" ng-click="showNearbySetting()"></i>
	</div>
	</div>
	<ul class="list contacts-recommended no-margin" ng-repeat="user in nearby | orderBy:'name'">
		<li class="item item-avatar">
			<img ng-if="user.avatar" ng-src="{{user.avatar}}">
			<img ng-if="!user.avatar" ng-src="css/img/avatar/{{user.name | firstChar}}.png">
			<div>{{user.name}}</div>
			<span class="positive margin-right" ng-class="{'ion-male':user.gender=='Male','ion-female':user.gender=='Female'}"></span>
			<span>{{user.age}}</span>
			<button class="button button-outline button-positive" ui-sref="app.chat.inviteContacts({id:user.$id})">+ Ajouter</button>
		</li>
	</ul>
 </ion-content>
</ion-view>