<!--View Information-->
<!--View name : TryApp-->
<!--State name : app.tryApp-->
<!--URL : #app/tryApp-->

<ion-view title="Try App" hide-tabs>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--try app section-->
    <ion-slide-box id="try-app-content" active-slide="0">
        <!--slider section-->
        <ion-slide class="slide-01">

            <div class="row try-app-footer-content">
                <div class="col-50">
                    <a href="#/public/fakeWizardSignUp" class="left md-raised md-button md-default-theme ">SIGN UP</a>
                </div>
                <div class="col-50">
                    <a href="#/public/fakeLogin" class="right md-raised md-button md-default-theme">Log In</a>
                </div>
            </div>
        </ion-slide>
        <ion-slide class="slide-02"></ion-slide>
        <ion-slide class="slide-03"></ion-slide>
        <ion-slide class="slide-04"></ion-slide>
        <ion-slide class="slide-05"></ion-slide>
        <ion-slide class="slide-06"></ion-slide>
        <ion-slide class="slide-07"></ion-slide>
        <ion-slide class="slide-08">
            <a href="" class="sign-up-button md-raised md-button md-default-theme material-background">
                SIGN UP MATERIAL</a>
        </ion-slide>
        <!--end slider section-->
    </ion-slide-box><!--end try app section-->

</ion-view>