<ion-view title="Inscription" hide-tabs>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="slide()">
            <i class="icon ion-ios-arrow-back"></i>
            Back
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-if="index == 0" class="button button-clear" ng-click="toEdit(false)">
            <i class="icon ion-compose"></i>
        </button>
    </ion-nav-buttons>

    <ion-slide-box id="try-app-content" on-slide-changed="slideHasChanged($index)" show-pager="false" ng-init="lockSlide()">      
        <ion-slide>
            
            <ion-content id="social-sign-up-content" hide-tabs>
                <swipe-cards>
                    <swipe-card class="postIt" ng-repeat="card in cards" on-card-swipe="cardSwiped(card)"> 
                        <div class="mmokoleRank">
                            <p>{{ rank }}/{{ postIts.length }}</p>
                            <a id="post-chevron" ng-click="cardSwiped(card)">
                                <img src="img/swipe-loop.svg">
                            </a>    
                        </div>
                        
                        <div class="mokoleHeader" style="">
                            <button class="mokoleDel" ng-if="card.creatorId == currentUser.id" ng-click="delete(card)">&#10060;</button>
                            <p class="mokoleDate">{{ card.date }}</p>
                        </div> 

                        <ion-scroll direction="y" class="post-scroll">
                        <div class="mokoleBody" style="">
                            <p class="mokoleContent">{{ card.content }}</p>
                        </div>
                        </ion-scroll>
                        
                        <div class="mokoleFooter" style="">
                            <p class="mokoleAuthor">{{ card.creator }}</p>
                        </div>
                    </swipe-card>
                </swipe-cards>
                <div class="mokole-btn-edit" ng-if="cards[cardIndex].creatorId == currentUser.id">
                    <div class="row" style="margin-top: 230%;">
                        <div class="col">
                            <a class="d-raised social-button md-button md-default-theme material-background" style="" ng-click="toEdit(true)">Modifier</a>
                        </div>
                    </div>
                    
                     
                </div>
            </ion-content>
        </ion-slide>

        <ion-slide>

            <ion-content id="social-sign-up-content" hide-tabs>
                <div class="postIt" style= "margin-left: 10%; margin-top: 25%;">
                    <div class="image">
                        <div class="mokoleHeader">
                            <p class="mokoleDate"></p>
                        </div> 

                        <div class="mokoleNewBody">
                            <textarea class="textArea" rows="14" placeholder="rédigez ici votre mot" ng-model="newPost.content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mokole-btn-edit">
                    <a ng-click="post()" class="d-raised social-button md-button md-default-theme material-background"> 
                        <span ng-if="edit == false">Publier</span>
                        <span ng-if="edit == true"">Modifier</span>
                    </a>
                </div>    
            </ion-content>
        </ion-slide>

    </ion-slide-box>

</ion-view>