<!--View Information-->
<!--View name : Facebook Profile-->
<!--Controller name : facebookProfileCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookProfile-->
<!--URL : #app/facebookProfile-->

<ion-view title="Social">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <ion-content>
        <div class="toolbar-image-cover" style="background-image: url('{{userInfo.pictureProfileUrl}}');"></div>

        <md-tabs class="ng-hide" ng-show="!loading" md-dynamic-height md-border-bottom>
            <md-tab label="Profile">
                <!--social profile content section-->
                <md-content id="social-profile-content" class="md-padding">

                    <div class="row">
                        <div class="col-33">
                            <i class="ion-card"></i>
                        </div>
                        <div class="col-66">{{userInfo.id}}</div>
                    </div>

                    <div class="row">
                        <div class="col-33">
                            <i class="ion-android-person"></i>
                        </div>
                        <div class="col-66">{{userInfo.name}}</div>
                    </div>

                    <div class="row">
                        <div class="col-33">
                            <i class="fa fa-circle-thin"></i>
                        </div>
                        <div class="col-66">{{userInfo.gender}}</div>
                    </div>

                    <div class="row">
                        <div class="col-33">
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                        <div class="col-66">{{userInfo.birthday}}</div>
                    </div>

                    <div class="row">
                        <div class="col-33">
                            <i class="ion-android-mail"></i>
                        </div>
                        <div class="col-66">{{userInfo.email}}</div>
                    </div>

                    <div class="row">
                        <div class="col-33">
                            <i class="ion-link"></i>
                        </div>
                        <div class="col-66">{{userInfo.link}}</div>
                    </div>

                </md-content><!--end social profile content section-->

            </md-tab>
            <md-tab label="More">
                <md-content class="md-padding">
                    <!--list section-->

                    
                    <md-list>
                        <md-subheader class="facebook-color">More Facebook APIs.</md-subheader>
                        <md-list-item class="md-list-item-default"
                                      ng-click="navigateTo('app.facebookFeed')">
                            <i class="ion-android-list"></i>

                            <p>View Timeline Feed</p>
                        </md-list-item>
                        <md-list-item class="md-list-item-default"
                                      ng-click="navigateTo('app.facebookFriendList')">
                            <i class="ion-person-stalker"></i>

                            <p>Friends List</p>
                        </md-list-item>
                        <md-list-item class="md-list-item-default" ng-click="logOut($event)">
                            <i class="ion-locked"></i>

                            <p>Log Out</p>
                        </md-list-item>
                    </md-list><!--end list section-->
                </md-content>
            </md-tab>
        </md-tabs>
        <!--social loading progress section-->
        <md-progress-circular ng-show="loading" class="md-warn md-progress-social-profile ng-hide"
                              md-mode="indeterminate"></md-progress-circular><!--end social loading progress section-->

    </ion-content>
</ion-view>