

<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Sign In" hide-tabs>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--login content section-->
    <ion-content id="social-login" hide-tabs class="bg-white">
        <!--fake login form section-->
        <form class="fakeLogin-form">
            <div>
                <img src="img/app_icon.png"/>
            </div>
            <div class="sub-header">MySpotyHome</div>
                <a class="md-raised social-button md-button md-default-theme material-background" ng-click="loginUserWithFb(form)">
                    Sign In FB
                </a>
                     
                 <a class="md-raised social-button md-button md-default-theme material-background" ng-click="loginUserWithGoogle(form)">
                    Sign In Google
                </a>
            <div id="fakeLogin">
                <md-input-container md-no-float="">
                    <input class="user-name" placeholder="Adresse mail" ng-model="form.mail">
                </md-input-container>
                <hr/>
                <md-input-container md-no-float="">
                        
                        <div class="row" style="margin-left: -3%; margin-top:-4%; width:104%;">
                            <div class="col"> 
                                <input  style="width:100%;" class="user-name" show-password="data.showPassword" ng-model="form.password" type="password" placeholder="Mot de passe">
                            </div>
                            <div class="col">
                                <a ng-if="data.showBtn !== false" ng-click="showPW('2')">
                                    <img style="width:20%; margin-right: -50%; margin-top: 10%;" src="img/pw_show.png">
                                </a>
                                <a ng-if="data.showBtn !== true" ng-click="showPW('1')">
                                    <img style="width:20%; margin-right: -50%; margin-top: 10%;" src="img/pw_hide.png">
                                </a>
                            </div>
                        </div>
                       
                    </md-input-container>
            </div>
            <div>
                <a class="md-raised social-button md-button md-default-theme material-background" ng-click="loginUser(form)">
                    Sign In par e-mail
                </a>
               
                     
                
            </div>
            <button class="button button-clear" ng-click="forgotPassword()" style="color: #387ef5; margin-top: 5%;">Mot de passe oublié</button>
        </form> <!--end fake login form section-->
    </ion-content><!--end login content section-->
</ion-view>