<!--View Information-->
<!--View name : Fake Wizzard signIn-->
<!--State name : public.fakeWizardSignUp-->
<!--URL : #app/fakeLogin-->

<ion-view title="Inscription" hide-tabs>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <!--
<button class="button button-clear" ng-click="goBackSlide()">
<i class="icon ion-ios-arrow-back"></i>
</button>
-->

        <button class="button button-clear" ng-click="goBackSlide($index)">
            <i class="icon ion-ios-arrow-back"></i>
            Back
        </button><!-- -->
    </ion-nav-buttons><!--end left button on navigation bar-->

    <ion-slide-box id="try-app-content" on-slide-changed="slideHasChanged($index)" show-pager="false" ng-init="lockSlide()">      
        <ion-slide>

            <ion-content id="social-sign-up-content" hide-tabs>
                <form class="fakeLogin-form" style="margin-top: 75%;">
                    <md-checkbox style="margin-left: -0.4%; aria-label="CheckboxTerms" ng-model="confirmEighteen">
                        Etes-vous agé de 18 ans ou plus?
                    </md-checkbox>
                        <div ng-if="confirmEighteen == true">
                            <div class='row'>
                               <a class="d-raised social-button md-button md-default-theme material-background" style="" ng-click="getAge()">Date de naissance</a>
                            </div>  
                            <div layout-gt-xs="row">
                                <md-button ng-if="display == true" ng-click='majority()' class="md-fab" aria-label="Eat cake">
                                    <md-icon md-svg-src="img/cake.svg">
                                    </md-icon>
                                </md-button>
                            </div>
                            <md-container ng-if="display == true" >Vous êtes né(e) le: {{form.user.birthday}}</md-container>
                        </div>

                    <a class="md-button" ng-if="isEighteen == true && display == true" ng-click="implement_0()">Continuer</a>
                </form>    
            </ion-content>
        </ion-slide>    
       

        <ion-slide>
            <!--social sign up section-->
            <ion-content id="social-sign-up-content" hide-tabs>


                <form class="fakeLogin-form" style="margin-top: 15%;">
                    <!--input section-->
                    <div style="margin-bottom: 6%;">
                        <div class ='row'>
                            <div style="margin-left: 5%; margin-top: 2.5%;"> Civilité: </div>
                            <md-select class="col" ng-model="form.user.gender" style="margin-left: 60px; padding: 0px;">
                                <md-option ng-if="data.genders" ng-repeat="gender in data.genders" ng-value="gender.value" ng-disabled="$index === 1">
                                    {{ gender.name }} 
                                </md-option>
                            </md-select>
                        </div>
                    </div>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.firstName" type="text" placeholder="Votre prénom">
                        </div>
                    </md-input-container>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.name" type="text" placeholder="Votre nom">
                        </div>
                    </md-input-container>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.mail" type="text" placeholder="Votre adresse mail">
                        </div>
                    </md-input-container>
                    <!--
                    <md-input-container md-no-float="">
                    <div>
                    <span ng-if="form.user.mail !== form.user.email_2 && form.user.email_2.length > 5" style='color: red;'>adresses différentes</span>
                    <span ng-if="form.user.mail === form.user.email_2 && form.user.email_2.length > 5" style='color: green;'>adresses identiques</span>
                    <input class="user-name" ng-model="form.user.email_2" type="text" placeholder="Confirmez votre mail">
                    </div>
                    </md-input-container>
                    -->
                    <md-input-container md-no-float="">

                        <div class="row" style="margin-left: -3%; margin-top:-4%; width:104%;">
                            <div class="col"> 
                                <input  style="width:300%;" class="user-name" show-password="data.showPassword" ng-model="form.user.pw" type="password" placeholder="Mot de passe (6 caractères minimum)">
                            </div>
                            <div class="col">
                                <a ng-if="data.showBtn !== false" ng-click="showPW('2')">
                                    <img style="width:8%; position: absolute; left: 90%;" src="img/pw_show.png">
                                </a>
                                <a ng-if="data.showBtn !== true" ng-click="showPW('1')">
                                    <img style="width:8%; position: absolute; left:90%;" src="img/pw_hide.png">
                                </a>
                            </div>
                            <div class="col">
                                <span style="margin-right: -80%;" ng-if="form.user.pw.length > 0 &&  form.user.pw.length < 6">&#10060;</span>
                                <span style="margin-right: -80%;" ng-if="form.user.pw.length > 0 &&  form.user.pw.length > 5">&#10003;</span>
                            </div>
                        </div>

                    </md-input-container>

                    <md-input-container md-no-float="">

                        <div class="row" style="margin-left: -3%; margin-top:-6%; width:104%;">
                            <div class="col"> 
                                <input style="width:300%;" class="user-name" show-password="data.showPassword" ng-model="form.user.pw_2" type="password" placeholder="Confirmez votre mot de passe">
                            </div>
                            <div class="col">
                                <span style="margin-right: -80%;" ng-if="form.user.pw_2.length > 5 &&  form.user.pw_2 !== form.user.pw">&#10060;</span>
                                <span style="margin-right: -80%;" ng-if="form.user.pw_2.length > 5 &&  form.user.pw_2 === form.user.pw">&#10003;</span>
                            </div>
                        </div>

                    </md-input-container>


                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.phone" type="text" placeholder="Votre numéro de mobile">
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.syndicNumber" type="text" placeholder="Code fourni par votre syndic">
                        </div>
                    </md-input-container>


                    <div ng-if="showCodeSyndic == true" style="z-index: 1; position:absolute; bottom:10%; height: 20%;" class="bubble">
                        <div class="talktext">
                            <p>Il s'agit de votre identifiant extranet fourni par votre syndic d'immeuble. Vous le trouverez sur votre relevé de charges et appel de fonds.<br> Cet identifiant permet de simplifier votre inscription à notre service</p>
                        </div>
                    </div>

                    <a ui-sref="public.fakeWizardSignUp" ng-click="showCodeSyndicFunc()">
                        Où le trouver et à quoi sert-il?
                    </a>

                    <a ng-click="implement_1(form.user)" class="d-raised social-button md-button md-default-theme material-background"> Continuer</a>

                    <!--end input section-->

                </form>

            </ion-content>
        </ion-slide>
        <!-- Social provider -->
        <ion-slide ng-if="socialProvider === true">
            <!--social sign up section-->
            <ion-content id="social-sign-up-content" hide-tabs>
                <form class="fakeLogin-form" style="margin-top: 15%;">
                    <!--input section-->                 
                    <div style="margin-bottom: 6%;">
                        <div class ='row'>
                            <div> Civilité: </div>
                            <md-select class="col" ng-model="form.user.gender" style="margin-left: 60px; padding: 0px;">
                                <md-option ng-if="data.genders" ng-repeat="gender in data.genders" ng-value="gender.value" ng-disabled="$index === 1">
                                    {{ gender.name }} 
                                </md-option>
                            </md-select>
                        </div>
                    </div>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.firstName" type="text" placeholder="Votre prénom">
                        </div>
                    </md-input-container>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.name" type="text" placeholder="Votre nom">
                        </div>
                    </md-input-container>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.mail" type="text" placeholder="Votre adresse mail">
                        </div>
                    </md-input-container>

                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.phone" type="text" placeholder="Votre numéro de mobile">
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float="">
                        <div>
                            <input class="user-name" ng-model="form.user.syndicNumber" type="text" placeholder="Code fourni par votre syndic">
                        </div>
                    </md-input-container>

                    <!--end input section-->         
                </form>
            </ion-content>
        </ion-slide>
        <!-- -->        
        <ion-slide>
            <ion-content id="social-sign-up-content" hide-tabs>
                <form class="fakeLogin-form" style="margin-top: 15%;">

                    <div style="margin-bottom: 6%;">
                        <div class="row" style="margin-left: -11.5%;">
                            <div class="col">Statut: </div>
                            <md-select ng-model="form.user.status" style=" margin-left: 60px; padding: 0px;" class ="col">
                                <md-option ng-repeat="status in data.status" ng-value="status.value" ng-disabled="$index === 1">
                                    {{status.name}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>

                    <md-checkbox aria-label="CheckboxTerms" ng-model="form.user.isSyndicMember">
                        Je fais partie du conseil syndical.
                    </md-checkbox>

                    <div style="margin-top: 6%;">
                        <div class="row"  style="margin-left: 0%;">
                            <div class="col"  style="text-align: left;"> Votre département:</div>
                            <md-select ng-model="data.foString" style="margin-left: 60px; padding: 0px;" class ="col">
                                <md-option ng-repeat="departement in data.departements" ng-value="departement.value"  ng-disabled="$index === 1">
                                    {{departement.value}}
                                </md-option>
                            </md-select>
                        </div>    
                    </div>

                    <md-autocomplete md-no-cache="true" placeholder="Saisissez votre adresse" md-selected-item="data.selectedSuggestion" md-items="suggestion in suggestions" md-search-text="form.typed" md-search-text-change="suggest(form, data)" md-item-text="suggestion.fullText">
                        <span>{{ suggestion.fullText }}</span>
                    </md-autocomplete>

                    <a ng-if="showButton == true" class="md-raised social-button md-button md-default-theme material-background" ng-click="setUserFullAdress()">
                        Choisissez votre adresse
                    </a>


                    <div ng-if="o.show == true">
                        <md-input-container md-no-float="">
                            <div>
                                <input class="user-name" type="text" ng-model="o.streetNumber" placeholder="N° de rue" readonly>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float="">
                            <div>
                                <input class="user-name" type="text" ng-model="o.street" placeholder="Rue" readonly>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float="">
                            <div>
                                <input class="user-name" type="text" ng-model="o.city" placeholder="Ville" readonly>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float="">
                            <div>
                                <input class="user-name" type="text" ng-model="o.postalCode" placeholder="Code postal" readonly>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float="">
                            <div>
                                <input class="user-name" ng-model="o.batName" type="text" placeholder="Bâtiment">
                            </div>
                        </md-input-container>

                        <div>
                            <div class="row" style="margin-left: -3.5%;">
                                <div class="col"> Votre étage: </div>
                                <md-select ng-model="form.user.floor" style="margin-left: 60px; padding: 0px;" class="col">
                                    <md-option ng-repeat="floor in data.floors" ng-value="floor.value" ng-selected="$index === 2">
                                        {{ floor.value }}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                            
                        <a class="md-raised social-button md-button md-default-theme material-background" ng-click="implement_2(form.user)">>
                            Continuer
                        </a>
                    </div>    
                    <!--end input section-->
                </form>   
            </ion-content>
        </ion-slide>

        <ion-slide>
            <!--social sign up section-->
            <ion-content id="social-sign-up-content" hide-tabs>
                <form class="fakeLogin-form">
                    <!--input section-->                 
                    <md-input-container  md-no-float>
                        <h4 style="text-align:center; color:#ef473a; width:80%; margin-left:10%;"> Et maintenant, faites votre star!</h4>
                        <h5 style="text-align:center; width:80%; margin-left:10%;">Pourquoi une photo est-elle nécessaire?</h5>
                        <h5 style="text-align:center; width:80%; margin-left:10%;">Pour pouvoir entrer en relation avec les personnes que vous croisez autour de chez vous mais dont vous ignorez les coordonnées.</h5>
                    </md-input-container>


                    <img src="{{ img.src }}" id="img" ng-model="img.src" style=" border-radius: 30px; width:50%;">

                    <!--div class="fileinputs">
<input type="file" class="file" file-input="files" />                        
<div class="fakefile">
<a class="md-raised social-button md-button md-default-theme material-background">
<span ng-if="!files.length"> Ajout photo</span>
<span ng-if="files.length > 0">Modifier</span>
</a>
</div>
</div-->
                    <a class="md-raised social-button md-button md-default-theme material-background" ng-click="takePhotoActionSheet(img.src)">Photo</a>

                    <a ng-if="img.src !== 'css/img/icon-camera.png'" class="md-raised social-button md-button md-default-theme material-background" ng-click="readURL(img.src, '#img')">
                        Afficher photo
                    </a>

                    <a class="md-raised social-button md-button md-default-theme material-background" ng-click="createUser(form.user, img.src, o)">Terminer</a>
                </form>
            </ion-content>
        </ion-slide>
        <!--end slider section-->
    </ion-slide-box><!--end try app section-->
</ion-view>