<!--View Information-->
<!--View name : Facebook Profile-->
<!--Controller name : facebookProfileCtrl-->
<!--Controller path : www/templates/social-network-connect/facebook/js/controllers.js-->
<!--State name : app.facebookProfile-->
<!--URL : #app/facebookProfile-->

<ion-view title="Social">
    <!--left button on navigation bar-->
    <!-- <ion-nav-buttons side="left">
<a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
<i class="ion-android-arrow-back"></i>
</a>
</ion-nav-buttons>-->
    <!--end left button on navigation bar-->
    <ion-nav>

    </ion-nav>
<ion-content class="chose-messages" ng-class="{'has-footer':choseMessagesCount<1}">

        <md-tabs class="ng-hide" ng-show="!loading" md-dynamic-height md-border-bottom>
            <md-tab label="Messages">
                <!--social profile content section-->
                <md-content  class="md-padding">

                    <div class="list message-index">
                        <div ng-repeat="message in messages | orderBy:'-time'" class="item item-avatar relative">
                            <input type="checkbox" id="{{message.$id}}" ng-change="choseMessage(message)" ng-model="message.selected">
                            <label for="{{message.$id}}">
                                <img ng-if="message.avatar.$value" ng-src="{{message.avatar.$value}}">
                                <img ng-if="!message.avatar.$value" ng-src="css/img/avatar/{{message.name.$value | firstChar}}.png">
                                <div class="status-check bg-full"></div>
                                <div ng-show="message.unread > 0" class="message-count">{{message.unread}}</div>
                            </label>
                            <div ui-sref="detail({id:message.$id})">
                                <h2>{{message.name.$value}}</h2>
                                <p>{{message.content}}</p>
                                <p class="message-time">{{message.time | sinceTime}}</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="messages == ''" class="text-center">
                        <div class="margin-bottom">Send messages to friend free</div>
                        <button class="button button-small width-20 button-positive" ui-sref="app.chat.createGroup">Start</button>
                    </div>



                </md-content><!--end social profile content section-->

            </md-tab>  
            <md-tab label="Contacts">
                <!--social profile content section-->
                <md-content id="news-feed-content" class="md-padding">





                </md-content><!--end social profile content section-->

            </md-tab>
            <md-tab label="Groupes">
                <!--social profile content section-->
                <md-content id="news-feed-content" class="md-padding">

                </md-content>
            </md-tab>
            <md-tab label="Invitations">
                <md-content class="md-padding">
                    <!--list section-->
                    <md-list>
                        <md-subheader class="facebook-color">HELLOOOOO.</md-subheader>
                        <md-list-item class="md-list-item-default"
                                      ng-click="navigateTo('app.facebookFeed')">
                            <i class="ion-android-list"></i>

                            <p>View Timeline Feed</p>
                        </md-list-item>
                        <md-list-item class="md-list-item-default"
                                      ng-click="navigateTo('app.facebookFriendList')">
                            <i class="ion-person-stalker"></i>

                            <p>Friends List</p>
                        </md-list-item>
                        <md-list-item class="md-list-item-default" ng-click="logOut($event)">
                            <i class="ion-locked"></i>

                            <p>Log Out</p>
                        </md-list-item>
                    </md-list><!--end list section-->
                </md-content>
            </md-tab>
        </md-tabs>
        <!--social loading progress section-->
        <md-progress-circular ng-show="loading" class="md-warn md-progress-social-profile ng-hide"
                              md-mode="indeterminate"></md-progress-circular><!--end social loading progress section-->

    </ion-content>


</ion-view>
