<!--View Information-->
<!--View name : Fake Login-->
<!--State name : app.fakeLogin-->
<!--URL : #app/fakeLogin-->

<ion-view title="Mon réseau">
    <!--left button on navigation bar-->
        <ion-nav-view name="tab-messages"></ion-nav-view>

<!--
<ion-nav>
    <ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}" class="tabs-transparent tabs-bottom tabs-icon">
  <ion-tab icon="ion-chatbubble-working status-notification" ui-sref="app.tab.messages">
    <ion-nav-view name="tab-messages"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-person" ui-sref="app.chat.contacts">
    <ion-nav-view name="tab-contacts"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-ios-people" ui-sref="tab.group">
    <ion-nav-view name="tab-group"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="ion-android-more-horizontal" ui-sref="tab.settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
 
</ion-nav>
-->
      
</ion-view> <ion-footer>
     <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar></ion-footer>